
{{!-- Modal --}}
<div class="reveal" id="initialModal" data-reveal data-options="closeOnClick:false; closeOnEsc: false;">
	<h2 class="text-center">Ingresa tú nombre</h2>
	<p class="lead text-justify">Este es el nombre que con el que identificarás.</p>

	<div class="small-12 medium-12 large-offset-2 large-8">
		<input id="userName" type="text" placeholder="Nombre" />
		<button type="button" id="buttonAccept" class="button expanded">Aceptar</button>
	</div>
</div>

<div class="reveal" id="generalModal" data-reveal>
	<h2 class="text-center title"></h2>
	<p class="lead text-justify content"></p>
</div>
{{!-- Modal --}}

{{!-- Vista del usuario luego de ingresar su nombre --}}
<div class="row">
	<h1 class="text-center welcome">nombre del usuario</h1>

	<div class="small-12">
		<div class="row">
			<div class="small-6 large-3 columns">
				<h3 class="text-center">Usuarios conectados</h3>
				<div id="connected-users"></div>
			</div>

			<div class="large-6 columns">
				<h3 class="text-center">Estado de la variable</h3>
				<p id="variable-status"></p>
			</div>

			<div class="small-12 large-6 columns">
				<button type="button" id="assignValue" class="button">Aumentar valor a variable</button>
				<button type="button" id="releaseValue" class="button">Liberar variable</button>
			</div>
		</div>
	</div>
</div>
{{!-- Vista del usuario luego de ingresar su nombre --}}
